.medias-socias{
    margin-top: 30px;   
}
.medias-socias a{
    text-decoration: none;
}

.medias-socias i{
    font-size: 16px;
    margin: 0 5px;
    color: white;
    background-color: #34af23;   
    padding : 7px;
    border-radius: 5px;
    justify-self: 20px;
}
.menu-icon{
    cursor: pointer;
    display: none;
     
}

/* fonte: youtube - botão WhatsApp animado com CSS*/

body {
    background: f1f1f1;
}

.btn-whatsapp {
    position: absolute;
    outline: none;
    bottom:30px;/*bottom no roda pé tpo superio esquedo sua width */
    right: 30px;
    text-decoration:  white;
    border-radius: 150%;
    height: 15px;
    width: 15px;
    cursor: pointer;
    background: #34af23;
    color: white;
    font-size: 2.3ren;
    border: 1px solid #f1f1f1;

    /*animation-name: pulsar;
    animation-duration: 0.8s;
    animation-timing-function:ease-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;*/
   /* https://web.whatsapp.com/send?phome=5581982689976*/
    
    animation: pulsar 0.8s ease 1s infinite alternate none running;

}
 a {
    color: inherit;/* edar cor elemento pai*/

 }

@keyframes pulsar{
    0% {
        height: 65px;
        width: 65px;
    }
    100% {
        height: 85px;
        width: 85px;
    }
}


 